<h1>+++++++ Cocktails +++++++</h1>
<br>

<p><%= link_to "Add cocktail", new_cocktail_path %></p>


<% @cocktails.each do |cocktail| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= cocktail.name %>
      <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    </div>
  </div>
<% end %>
